extends ../layout

block content
  section(id="index", data-role="page")
    header(data-role="header")
      h6 NodePostfixAdmin
      a.ui-btn-right(href="#page1", data-transition="slide") 新規作成
    article(data-role="contents")
      form.login-form.ui-body.ui-body-b(id="login", action="/session", method="post")
        fieldset
          legend ログイン
          label(for="login_username") ユーザ名
          input(id="login_username", type="text", name="username", placeholder="username")
          label(for="login_password") パスワード
          input(id="login_password", type="password", name="password", placeholder="password")
          
          label(for="login_rememberme") ログイン情報を保持
          input(id="login_rememberme", type="checkbox", name="rememberme")
          
          input(type="submit", value="ログイン")

  section(id="page1", data-role="page", data-add-back-btn="true", data-add-back-btn-text="戻る")
    header(data-role="header")
      h6 Create User
    article(data-role="contents")
      form.register-form.ui-body.ui-body-b(id="register", action="/users", method="post")
        fieldset
          legend 新規ユーザ登録
          label(for="register_username") ユーザ名
          input(id="register_username", type="text", name="username", placeholder="username")

          label(for="register_password") パスワード
          input(id="register_password", type="password", name="password", placeholder="password")
          label(for="register_password2") パスワード(確認)
          input(id="register_password2", type="password", name="password2", placeholder="password")
          
          
          input(type="submit", value="作成")

