body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

@media only screen and (max-width: 479px) {
  .login-form {
    width: auto;
    padding-right: 1.5em;
  }
//  .login-form label {
//    display: none;
//  }
}

@media only screen and (min-width: 480px) {


  .login-form {
    margin: 0 auto;
    margin-top: 10%;
    width: 320px;
    padding-right: 1.5em;
    padding-bottom: 0.8em;
    border-radius: 20px;
  }

  .register-form {
    margin: 0 auto;
    margin-top: 10%;
    width: 320px;
    padding-right: 1.5em;
    padding-bottom: 0.8em;
    border-radius: 20px;
  }
}
