extends ../layout

block content
  section(id="index", data-role="page")
    header(data-role="header")
      include ../_inc/header_menu.jade
    article(data-role="contents")
      fieldset
        legend メニュー
          if flash.info
            div.ui-body.ui-body-d.ui-corner-all(style="text-align: center")= flash.info
          ul(id="menu_list")
            for i in menu
              li
                a(href="#{i.url}") #{i.name}
            li
              a(href="/sessions/destroy") Logout
