extends ../layout

block content
  section(id="index", data-role="page")
    header(data-role="header")
      h6 NodePostfixAdmin
      div!= login_status
    article(data-role="contents")
      fieldset
        legend メニュー
          ul(id="menu_list")
            for i in menu
              li
                a(href="#{i.url}") #{i.name}
            li
              a(href="/sessions/destroy") Logout
