extends ../layout

block content
  section(id="index", data-role="page")
    header(data-role="header")
      include ../_inc/header_login.jade
    article(data-role="contents")
      form.login-form.ui-body.ui-body-b(id="login", action="/sessions", method="post")
        fieldset
          legend ログイン
          if flash.info
            div.ui-body.ui-body-d.ui-corner-all(style="text-align: center")= flash.info
          if flash.error
            div.ui-body.ui-body-e.ui-corner-all(style="text-align: center")= flash.error
          label(for="login_username") ユーザ名
          input(id="login_username", type="text", name="username", placeholder="username")
          label(for="login_password") パスワード
          input(id="login_password", type="password", name="password", placeholder="password")
          
          fieldset(data-role="fieldcontain", id="rememberme", style="text-align: right")
            label(for="login_rememberme", style="width: 200px") ログイン状態を保持
            select(id="login_rememberme", name="rememberme", data-role="slider", data-track-theme="c")
              option(value="false") しない
              option(value="true") する
          
          //input(type="submit", value="ログイン")
          input(type="submit", value="ログイン")

  section(id="signup", data-role="page", data-add-back-btn="true", data-add-back-btn-text="戻る")
    header(data-role="header")
      h6 新規ユーザ作成
    article(data-role="contents")
      form.register-form.ui-body.ui-body-b(id="register", action="/users", method="post")
        fieldset
          legend 新規ユーザ登録
          label(for="register_username") ユーザ名
          input(id="register_username", type="text", name="username", placeholder="username")

          label(for="register_password") パスワード
          input(id="register_password", type="password", name="password", placeholder="password")
          label(for="register_password2") パスワード(確認)
          input(id="register_password2", type="password", name="password2", placeholder="password")
          
          
          input(type="submit", value="ユーザ作成")

